@{
    @model FormAsignaturaViewModel;
    @using WebInstituto.ViewModels.Asignaturas;
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />

<div class="container mt-5">
    <div class="d-flex justify-content-end mt-2 me-4">
        <button class="btn btn-warning" onclick="window.location.href='@Url.Action("Login", "Login")'">
            Cerrar sesión
        </button>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">

            <h2 class="text-center mb-4">
                @(Model.Editar ? "Editar Asignatura" : "Crear Asignatura")
            </h2>

            <form method="post" asp-action="CrearEditarAsignatura" asp-controller="Asignaturas">
                @Html.AntiForgeryToken()

                @Html.HiddenFor(m => m.Asignatura.Id)

                <div class="mb-3">
                    <label for="Name" class="form-label">Nombre</label>
                    @Html.TextBoxFor(m => m.Asignatura.Name, new { @class = "form-control", required = "required", placeholder = "Nombre de la asignatura" })
                </div>

                <div class="mb-4">
                    <label for="Curso" class="form-label">Curso</label>
                    @Html.DropDownListFor(m => m.Asignatura.Course, Model.Cursos, "Seleccione un curso",
                             new { @class = "form-select", required = "required" })
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">
                        @(Model.Editar ? "Actualizar" : "Registrar")
                    </button>
                </div>
            </form>

        </div>
    </div>

</div>
