@{
    @using WebInstituto.ViewModels.Asignaturas
    @model AsignaturasViewModel
}

<link rel="stylesheet" type="text/css" href="~/css/vistas.css" />

@if (Model.EsProfesor)
{
        <h1>Vista Profesores</h1>
        <table id="tablaAsignaturaProfesores">
            <tr>
                <th>Nombre</th>
                <th>Curso</th>
                <th>Horarios</th>
                <th>Impartir</th>
                <th>Editar</th>
            </tr>
        @foreach (Asignatura asignatura in Model.Asignaturas)
        {
                    <tr>
                        <td> @asignatura.Name</td>
                        <td>@asignatura.Course</td>
                        <td>
                            <button class="btn btn-primary" onclick="window.location.href='@Url.Action("Horario", "Horarios", new { id = asignatura.Id })'">
                                Ver Horario
                            </button>
                        </td>
                        <td>
                            @Html.CheckBox("MiCheckbox", false) 
                        </td>
                        <td> 
                            <button id="btn-asignatura-editar" class="btn btn-success">Editar</button>
                            <button id="btn-asignatura-eliminar" class="btn btn-danger">Eliminar</button>
                        </td>
                    </tr>
        }

        </table>
    @Html.ActionLink("Crear Asignatura", "FormAsignaturaCrear", "Asignaturas", new { @class = "center-link" })
}
else
{
        <h1>Vista Alumno</h1>
        <table id="tablaAsignaturaProfesores">
            <tr>
                <th id="nombreAsignatura">Nombre</th>
                <th id="cursoAsignatura">Curso</th>
                <th>Matricularse</th>
                <th>Horarios</th>
            </tr>

        </table>
}
